:root {
    --primary-color: #CB997E;
    --secondary-color: #ff9b10;
    --background-color: #FFE8D6;
    --button-color: #FF9F1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.main-container {
    background-color: var(--background-color);
    min-height: 100vh;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    gap: 10px;
}

.title {
    font-family: "Imbue", serif;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    padding: 30px 0;
    color: var(--secondary-color);
}

.card-title {
    margin: 20px 0 0 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}


.card img {
    max-width: 100%;
    height: auto;
}

.card-description {
    padding: 10px;
    font-size: 14px;
}

.image-container {
    background-image: url(./source/images/new-york.jpg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* buttons */
.btn-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(203, 153, 126, 0.755);
    color: #fff;
    text-align: center;
    padding: 10px 0;

}

.btn {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    height: 40px;
    width: 270px;
    border-radius: 20px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    transition: .2s cubic-bezier(.55, 0, .1, 1);
    background-color: var(--button-color);
}

.btn:hover {
    transition: .2s cubic-bezier(.55, 0, .1, 1);
}

/* end buttons */


.card {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    height: auto;
    max-height: 250px;
    overflow: hidden;
    width: 40%;
    margin: 10px;
    cursor: pointer;
    box-shadow: -1px 2px 29px -5px rgba(79, 79, 79, 0.66);
    -webkit-box-shadow: -1px 2px 29px -5px rgba(79, 79, 79, 0.66);
    -moz-box-shadow: -1px 2px 29px -5px rgba(79, 79, 79, 0.66);
}

.card.expanded {
    max-height: 390px;
    display: inline-block;

}

.card:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 65px;
        font-weight: 600;
        padding: 40px 0;
    }

    .cards-container {
        gap: 25px;
        max-width: 85%;
        margin: auto;
    }

    .card {
        width: 270px;
        max-height: 295px;
    }

    .card-description {
        padding: 20px;
        font-size: 16px;
    }

    .image-container {
        height: 240px;
    }
}

@media only screen and (min-width: 1400px) {

    .cards-container {
        max-width: 1300px;
        width: 90%;
        margin: auto;
    }
}